
.favorite-container {
    width: 12em;
    height: 12em;
    margin: 20px;
    padding: 1em;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1d1d32;
    color: white;
    text-align: center;
}

.favorite-container:hover {
    background-color: #263d84;
    transition: .5s;
}

#add-favorite-button {

}

.image-wrapper {
    position: relative;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 85px;
    height: 85px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    overflow: hidden;
}

.image-wrapper img{
    width: 85px;
}